#skills {
    margin: 50px auto;
    list-style: none;
    text-align: center;
    justify-content: center;
}

#contact{
    margin: 50px auto;
    list-style: none;
    text-align: center;
    justify-content: center;
}

#skills .container {
    text-align: center;
}

ul {
    padding-right: 35px;
    padding-top: 1%;
 }

 #work h2{
    text-align: center;
    padding-bottom: 2%;
 }